@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
    --wine: #A80936;
    --grey: #9B9B9B;
    --dark: #121212;
    --white: #FFFFFF;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  /* overflow: hidden; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 16px 5%;
    margin-bottom: 10px;
    background-color: var(--white);
    /* box-shadow: 0 0 22px rgb(0 0 0 / 5%); */
    transition: all 0.3s ease 0s;
}

.logo-nav-link-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo{
    cursor: pointer;
    margin-right: 16px;
}

.nav-logo{
    width: 62px;
    height: 100%;
}

.nav-link{
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-item, .nav-item > a{
    color: var(--dark);
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.1s ease 0s;
    text-decoration: none;
}

.nav-item >a:hover{
    color: var(--dark);
    font-weight: 800;
}

.nav-item > a> img{
    padding-left: 5px;
}

.drop-down{
    display: flex;
    align-items: center;
}


.nav-item-container{
    padding-left: 0;
}

.nav-item{
    display: inline-block;
    padding: 0px 10px;
}

.butn{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 14px 24px;
    margin-left: 16px;
    background-color: var(--wine);
    color: var(--white);
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s;
}

.butn-plain{
    background-color: var(--white);
    color: var(--wine);

}

.butn:hover{
    opacity: 85%;
}

.toggle-button{
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    width: 24px;
    height: 24px;
    align-items: center;
}

.toggle-button .bar1, .toggle-button .bar2, .toggle-button .bar3{
    height: 2px;
    width: 100%;
    background-color: #121212;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.bar2{
    transform: translateY(5px);
}

.bar3{
    transform: translateY(10px);
}

.open .bar1{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .bar2{
    display: none;
}

.open .bar3{
    transform: rotate(-45deg) translateY(4px) translate(-6px);
}


.section{
    padding: 0 5%;
    color: var(--dark);
}

.hero-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.badge{
    background: #F3F3F3;
    border: 1.5px solid rgba(155, 155, 155, 0.3);
    border-radius: 20px;
    padding: 8px 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.badge-text{
    color: var(--dark);
    font-weight: 400;
    font-size: 12px;
}

.gradient{
    background: linear-gradient(90deg, #FFA500 0%, #A80936 100%); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-text{
    font-weight: 900;
    /* font-size: 72px; */
    /* font-family: "Space Grotesk"; */
    margin-bottom: 1rem;
}

.hero-paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
}





@media (max-width: 820px) {
    .toggle-button{
        display: flex;
    }

    .nav-link, .butn-button{
        display: none;
        margin-top: 10px;
    }

    .logo-nav-link-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .butn > button{
        background-color: white;
        color: #121212;
        padding-left: 0;
        padding-top: 18px;
        padding-bottom: 14px;
        margin-left: 0;
        opacity: 60%;
    }

    .butn-button{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-link > ul{
        display: flex;
        flex-direction: column;
    }

    .nav-item{
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 0;
    }

    .nav-link.active{
        display: flex;
        margin-top: 10px;
    }

    .butn-button.active{
        display: flex;
    }

    .navbar.active{
        position: absolute;
        height: 100vh;
    }
}