@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --wine: #A80936;
    --grey: #9B9B9B;
    --dark: #161616;
    --white: #FFFFFF;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", "Inter";
  text-decoration: none;
  /* overflow: hidden; */
  /* outline: 2px solid #121212; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.625rem 4%;
    margin-bottom: 0.625rem;
    background-color: var(--white);
    box-shadow: 0 0 22px rgb(0 0 0 / 4%);
    transition: all 0.3s ease 0s;
}

.logo-nav-link-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo{
    cursor: pointer;
    margin-right: 1rem;
}

.nav-logo{
    width: 62px;
    height: 100%;
}

.nav-link{
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-item, .nav-item > a{
    color: var(--dark);
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.1s ease 0s;
    text-decoration: none;
    opacity: 80%;
}

.nav-item >a:hover{
    opacity: 100%;
}

.nav-item > a> img{
    padding-left: 5px;
}

.drop-down{
    display: flex;
    align-items: center;
}


.nav-item-container{
    padding-left: 0;
}

.nav-item{
    display: inline-block;
    padding: 0px 0.625rem;
}

.butn{
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0.875rem 1.5rem;
    margin-left: 1rem;
    background-color: var(--wine);
    color: var(--white);
    border-radius: 5px;

    border: none;
    transition: all 0.3s ease 0s;
}

.butn-plain{
    background-color: var(--white);
    color: var(--wine);

}

.butn:hover{
    opacity: 85%;
}

.toggle-button{
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 5px;
    margin-right: 5px;
    align-items: center;
}

.toggle-button .bar1, .toggle-button .bar2, .toggle-button .bar3{
    height: 2px;
    width: 100%;
    background-color: #121212;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.bar2{
    transform: translateY(5px);
}

.bar3{
    transform: translateY(0.625rem);
}

.open .bar1{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .bar2{
    display: none;
}

.open .bar3{
    transform: rotate(-45deg) translateY(4px) translate(-6px);
}

.gradient{
    background: linear-gradient(90deg, #FFA500 0%, #A80936 100%); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 100%;
    height: 100%;
}

.text-6xl{
    font-size: 4rem !important;
}

.hero-text{
    letter-spacing: -0.04em;
}

.hero-button-group{
    display: flex;
    align-items: center;
}

.hero-button{
    background-color: var(--dark);
    padding: 12px 26px;
    border-radius: 5px;
    border: none;
}

.wine{
    color: var(--wine);
}

.bg-wine{
    background-color: var(--wine);
}

.bg-dark{
    background-color: var(--dark);
}

#join-section{
    overflow: hidden;
}

.join-card{
    border: none;
    border-radius: 0;
    color: var(--dark);
}

.join-icon{
    width: fit-content;
}

.down{
    border: 0.5px solid var(--white);
    border-radius: 50%;
}

.down-inside{
    width: 40px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pt-16{
    padding-top: 8rem !important;
}

.show{
    display: none;
}

.badge{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 22px;
    background: #F3F3F3;
    border: 1.5px solid rgba(155, 155, 155, 0.3);
    border-radius: 20px;
    color: var(--dark);
}

.create-badge{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 24px;
    border-radius: 75px;
    background-color: var(--wine);
    color: var(--white);
}

.create-badge > p{
    font-family: "Space Grotesk";
    font-size: 1.6rem;
}

.text-3xl{
    font-size: 22px !important;
}

@media (max-width: 1024px){
    .butn, .nav-item > a{
        font-size: 0.875rem;
    }

    .butn{
        padding: 0.875rem 0.875rem;
        margin-left: 0;
    }
}


@media (max-width: 920px) {
    .mx-14{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .my-12{
        margin-top: 1.4rem;
    }

    .hero-text{
        letter-spacing: 0;
        line-height: 3rem;
        font-size: 2.625rem !important;
    }

    .butn, .nav-item > a{
        font-size: 1rem;
    }

    .toggle-button{
        display: flex;
    }

    .nav-link, .butn-button{
        display: none;
        margin-top: 0.625rem;
    }

    .logo-nav-link-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .butn > button{
        background-color: var(--white);
        color: var(--dark);
        padding-left: 0;
        padding-top: 18px;
        padding-bottom: 0.875rem;
        margin-left: 0;
        opacity: 60%;
    }

    .butn-button{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-link > ul{
        display: flex;
        flex-direction: column;
    }

    .nav-item{
        padding-top: 18px;
        padding-bottom: 0.875rem;
        padding-left: 0;
    }

    .nav-link.active{
        display: flex;
        margin-top: 0.625rem;
        padding: 0;
    }

    .butn-button.active{
        display: flex;
        margin-top: 0;
    }

    .butn-plain{
        margin-left: 0;
        padding: 18px 0 0.875rem 0;
    }

    .butn{
        margin: 0.625rem 0 8px 0;
    }


    .navbar.active{
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 360px) {
    .butn-button.active{
        display: none;
    }
}